<div class="pull-left">
    <a href="/users/profile" class="btn btn-default btn-flat">Profile</a>
</div>
<div class="pull-right">
    <a href="/users/logout" class="btn btn-default btn-flat">Sign Out</a>
</div>